@model MLearningDB.LearningObject

@{
    ViewBag.Title = "LOCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LOCreate</h2>

@using (Html.BeginForm("Upload", "Publisher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">
        <h4>LearningObject</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.type)
                @Html.ValidationMessageFor(model => model.type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

     

        <div class="form-group">
            @Html.LabelFor(model => model.url_cover, new { @class = "control-label col-md-2" })
           <!-- <div class="col-md-10">
                <input type="file" name="file" />
            </div>
               -->
            <div class="col-md-10">
                @Html.EditorFor(model => model.url_cover)
                @Html.ValidationMessageFor(model => model.url_cover)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url_background, new { @class = "control-label col-md-2" })
           <!-- <div class="col-md-10">
                <input type="file" name="bg_file" />
            </div>
               -->
            <div class="col-md-10">
                @Html.EditorFor(model => model.url_background)
                @Html.ValidationMessageFor(model => model.url_background)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.color_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.color_id)
                @Html.ValidationMessageFor(model => model.color_id)
            </div>
        </div>



      

       

       
     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               <!--  <input type="submit" value="Create" class="btn btn-default" />--> 
               
                <input type="submit" name="Submit" id="Submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    
       
}







<div>
    @Html.ActionLink("Back to List", "Index")
</div>
