@model MLearning.Web.Models.PublisherViewModel

@{
    ViewBag.Title = "PublisherEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PublisherEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>publisher_by_institution</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.User.id)

        <div class="form-group">
            @Html.LabelFor(model => model.User.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.name)
                @Html.ValidationMessageFor(model => model.User.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.lastname)
                @Html.ValidationMessageFor(model => model.User.lastname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.username)
                @Html.ValidationMessageFor(model => model.User.username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.password)
                @Html.ValidationMessageFor(model => model.User.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher.title)
                @Html.ValidationMessageFor(model => model.Publisher.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher.country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher.country)
                @Html.ValidationMessageFor(model => model.Publisher.country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher.region, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher.region)
                @Html.ValidationMessageFor(model => model.Publisher.region)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher.city)
                @Html.ValidationMessageFor(model => model.Publisher.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher.telephone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher.telephone)
                @Html.ValidationMessageFor(model => model.Publisher.telephone)
            </div>
        </div>

     

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
