@model  MLearning.Web.Models.AdminViewModel

@{
    ViewBag.Title = "HeadEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HeadEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>head_by_institution</h4>
        <hr />
        @Html.ValidationSummary(true)
      

        <div class="form-group">
            @Html.LabelFor(model => model.User.username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.username)
                @Html.ValidationMessageFor(model => model.User.username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.password)
                @Html.ValidationMessageFor(model => model.User.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.name)
                @Html.ValidationMessageFor(model => model.User.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.lastname)
                @Html.ValidationMessageFor(model => model.User.lastname)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Head.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Head.title)
                @Html.ValidationMessageFor(model => model.Head.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.name)
                @Html.ValidationMessageFor(model => model.Inst.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.country)
                @Html.ValidationMessageFor(model => model.Inst.country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.region, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.region)
                @Html.ValidationMessageFor(model => model.Inst.region)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.address_line_1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.address_line_1)
                @Html.ValidationMessageFor(model => model.Inst.address_line_1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.city)
                @Html.ValidationMessageFor(model => model.Inst.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.postal_code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.postal_code)
                @Html.ValidationMessageFor(model => model.Inst.postal_code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.telephone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.telephone)
                @Html.ValidationMessageFor(model => model.Inst.telephone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.email)
                @Html.ValidationMessageFor(model => model.Inst.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.website_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.website_address)
                @Html.ValidationMessageFor(model => model.Inst.website_address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inst.notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inst.notes)
                @Html.ValidationMessageFor(model => model.Inst.notes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
